 .naw{
    background-color: rgb(28, 30, 83);
  
}
.star a{
  padding: 0px 20px;
  color: #fff;
}
 Button.bttn{
    border-radius: 30px;
    color:#fff;
  margin-left: 40px;
}
.bttn a:hover{
color:black !important;
}